body  {background-color: hotpink;
   
}

h1{
    color: #ff0000;
    font-size: 53px;
    text-align: center;
     text-shadow:3px 5px 6px rgba(224, 10, 121, 0.719)
}
p { 
    font-size: 25px; 
}
li{
    font-size: 25px;
}

.text1{
    color: rgb(251, 255, 0);
}
.text2{
    color: rgb(255, 251, 0);
}
.text3{
    color: #fbff00;
}
.text4{
    color: #e5ff00;
}
.linb {  
    text-decoration: none;
}
img{
    width:1500px;
    height: 700px;
}
p::first-letter { 
    color: #fbff00;
    font-size: 200%; 
 }